<div id = 'alertBoxBackground' >
<div id='alertBox' class="card">
    <div class="card-header">
        WARNING
    </div>
    <div class="card-body">
      <h5 class="card-title">Deleting post!</h5>
      <p class="card-text">Deleting a post is permanent. You won't recover it in any way</p>
      <div class="card-body bg-white">
        <button class="btn btn-secondary" id="cancelButton">Cancel</button>
        <button class="btn btn-danger" id="confirmDeleteButton">Delete anyway</button>
      </div>
    </div>
  </div>
</div>