  </div>
</main>


  <div class="container">
    <footer class="py-3 my-4">
    
      <p class="text-center text-body-secondary">© 2024. Project made for The Complete Web Development BootCamp by Angela Yu</p>
    </footer>
  </div>

</body>
<script src=" /js/animations.js"></script>
</html>